body {
  background-color: teal;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

header {
  text-align: center;
  padding: 20px;
}

header p {
  font-size: 22px;
  margin-top: 20px;
  color: #ffff;
  text-align: left;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #ffff;
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 5px;
}
footer {
  text-align: center;
  padding: 10px;
}
